@model MetricsViewModel
@{
    ViewData["Title"] = "ViewMetrics";
    var RawMetric = Model.RawMetricsList;
}

<h1>ViewMetrics</h1>
<form>
    <h3>Raw Metrics</h3>
    @*<div>
        <div class="form-group form-check-inline">
            <label>LOC:</label>
            <label>@RawMetric.Loc</label>
        </div>
        <div class="form-group form-check-inline">
            <label>SLOC:</label>
            <label>@RawMetric.Sloc</label>
        </div>
        <div class="form-group form-check-inline">
            <label>LLOC:</label>
            <label>@RawMetric.Lloc</label>
        </div>
        <div class="form-group form-check-inline">
            <label>Comments:</label>
            <label>@RawMetric.Comments</label>
        </div>
        <div class="form-group form-check-inline">
            <label>Blank:</label>
            <label>@RawMetric.Blank</label>
        </div>
        <div class="form-group form-check-inline">
            <label>Multi:</label>
            <label>@RawMetric.Multi</label>
        </div>

        <div class="form-group form-check-inline">
            <label>Single Comments:</label>
            <label>@RawMetric.SingleComments</label>
        </div>
    </div>*@

</form>


